@import "./_Variables";
*{margin:0;padding:0}
body,html{
  background:#f5f5f7;
  font-size:0.23rem;
  font-family: '苹方';
  color:@font-main-color;
  -webkit-text-size-adjust: 100% !important;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.tab_main{
  position:fixed;
  right:0.25rem;
  bottom:1rem;
  img{
    width:1rem;
  }
  h1{
    margin-top:5px;
  }
}
li{
  list-style-type: none;
}
/**
全局的头部样式
 */
#app{
  .vux-header{
    padding:0;
    height:0.88rem;
    background: #fff;
    position:absolute;
    width: 100%;
    top:0;
    z-index: 400;
    //box-shadow:0 0 5px #cecece;
  }
  .vux-header .vux-header-title{
    color:@font-main-color;
    font-size:@font-more-big;
    line-height:0.88rem;
    font-size: 0.34rem;
  }
  .vux-header i{
    font-size:0.4rem;
    color:@font-main-color;
  }
  .vux-header .vux-header-right{
    top:50%;
    transform: translateY(-50%);
  }
  .font-color{
    color: #000;
  }
  .vux-header .vux-header-left{
    top:0.23rem;
  }
}
.vux-popover{
  left: 5.3rem!important;
  width: 2rem!important;
  padding: 0.2rem 0 0 0;
}
.vux-popover>div:last-child>div>div{
  width: 80%;
  height: 0.7rem;
  line-height: 0.5rem;
  margin-bottom: 0.1rem;
  border-bottom: 1px solid #f5f5f5;
  display: inline-block;
  margin-left: 10%;
  text-align: left;
}
.vux-popover>div:last-child>div>div>i {
  margin-right: 0.15rem;
}
.vux-popover>div:last-child>div>div:last-child{
  border: none;
  margin-bottom: 0;
}
.vux-popover-arrow-up{
  left: 92%!important;
}
